h1, h2{
  font-family: 'Roboto', sans-serif;
  padding: 20px 0; 
}

p{
  font-family: 'Roboto Condensed', sans-serif;
}

.card{
  margin-bottom: 20px;  
}

.news-filtered .categories{
  margin: 2rem;
}

.news-filtered .media{
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #d4d4d4; 
}

.nav-item{
  cursor: pointer;
}

.container .card img[data-src] {
  filter: blur(0.2em);
}

.container .card img {
  filter: blur(0em);
  transition: filter 0.5s, transform .4s;
  width: 286px;
  height: 161px;
  object-fit: cover;
  cursor: pointer;
}

.container .card .wrap-img{
  overflow: hidden;
}

.container .card .wrap-img img:hover{
  transform: scale(1.15);
}

.container {
  transform: translateX(0) scale(1);
  transition: transform .4s;
}

.container.open{
  transform: translateX(-15%) scale(0.95);
}

.detail-page{
  position: fixed;
  width: 44%;
  height: 100%;
  top: 0;
  right: -100%;
  background: #ffffff;
  z-index: 1;
  display: none;
  opacity: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.detail-page h2{
  padding: 20px 0;
  border-bottom: solid 1px rgba(0,0,0,.4);
}

.overlay{
  background: rgba(52, 58, 64, .8);
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: none;
  opacity: 0;
  cursor: pointer;
}

.actions{
  text-align: center;
  overflow: hidden;
}
.actions svg {
  margin: 0 20px;
  cursor: pointer;
  transform: translateY(20);
  opacity: 0;
}

.fa-times {cursor: pointer;}
.social svg{
  margin: 0 10px;
  width: 48px;
}


@media only screen and (max-width: 600px) {
  .detail-page {
    width: 100%;
  }

  .top-headlines .card{
    margin: 0 auto 20px;
  }
}